.aboutSection {
    padding: 5% 12%;
}

.about {
    margin: auto;
}

.aboutPic {
    height: 300px;
    margin-left: 150px;
}

.aboutTitle {
    color: #1F4C82;
    text-align: left;
    text-emphasis: bold;
    font-size: 24px;
    padding: 2%;
}

.aboutDesc {
    margin-left: 60px;
    text-align: left;
}

#actionTitle {
    color: black;
    font-size: 40px;
    padding: 2% 0 3% 0;
    margin: 20px 0 0 0;
    text-align: center;
}

@media screen and (max-width: 480px) {
    .aboutPic {
        height: 175px;
        margin-left: 0;
        text-align: center;
    }

    .aboutDesc {
        margin-left: 0;
    }

    #actionTitle {
        font-size: 25px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1034px) {
    .aboutPic {
        height: 200px;
        margin-left: 0;
    }

    #actionTitle {
        font-size: 30px;
    }
}