.context {
    text-align: center;
    position: absolute;
    z-index: 1;
    top: 15%;
    max-height: 500px;
    width: 100%;
    color: white;
    font-family: 'Avant Garde';
}

.logoDashboard {
    width: 150px;
}

.orgSlogan {
    padding: 10px;
    color: #1F4C82;
    background: rgba(255, 255, 255, 0.74);
    font-size: 50px;
    margin: 20px 0;
    font-weight: bold;
    font-family: 'Avant Garde';
}

.orgTitle {
    margin: 10px;
    font-size: 40px;
    font-family: 'Avant Garde';
    background: rgba(0, 0, 0, 0.50);
}

.logInButton, .registerButton {
    padding: 2%;
    background: rgba(255, 255, 255, 0.74);
}

@media screen and (max-width: 480px) {
    .context {
        top: 10%;
    }
    .logoDashboard {
        width: 65px;
    }

    .orgSlogan {
        font-size: 18px;
        margin: 8px 0;
        padding: 5px;
        background: rgba(255, 255, 255, 0.74);
    }

    .orgTitle {
        margin: 8px;
        font-size: 15px;
        background: rgba(255, 255, 255, 0.74);
    }
}