.context {
    position: absolute;
    z-index: 1;
    top: 100px;
    width: 100%;
    color: white;
}

.logo {
    width: 175px;
    height: auto;
}

h1 {
    padding: 10px;
    color: #1F4C82;
    background: rgba(255, 255, 255, 0.74);
    font-size: 50px;
    margin: 20px 0;
}

h3 {
    margin: 10px;
    font-size: 30px;
}

.logInButton, .registerButton {
    padding: 50px;
}