.submitButton {
    background: transparent;
    border: 3px solid #F7941D;
    color: #F7941D;
    border-radius: 14px;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    padding: 8px;
    min-width: 10vw;
    margin: 10px 50px;
}

.submitButton:hover {
    background: #F7941D;
    color: white;
    cursor: pointer;
}

@media screen and (max-width: 480px) {
    .submitButton {
        min-width: 50px;
        margin: 5px 25px;
        font-size: 10px;
        padding: 2px;
        border-radius: 8px;
        border: 1px solid #F7941D;
    }
}