.taskHeader{
    text-align: center;
    color: #1b75bc;
    margin-top: 20px;
    font-weight: bolder;
    font-family: 'Avant Garde';
}

.cartContainer{
    padding-left: 80px;
    padding-right: 80px;
    font-family: 'Avant Garde';
}

.selectHeader{
    padding-left: 30px;
    color: #1b75bc;
    font-weight: bolder;
    font-size: 25px;
    font-family: 'Avant Garde';
}

.form-checkbox{
    margin-left: 20px;
}

input.largerCheckbox{
    width: 30px;
    height: 30px;
}

.businessInput{
    padding-left: 45px;
    padding-top: 20px;
    font-family: 'Avant Garde';
}

.confirmCheckout{
    display: flex;
    justify-content: center;
    font-family: 'Avant Garde';
}

#roleHeadertimes {
    text-decoration: underline !important;
    color: #1b75bc;
    font-size: 19px;
    padding-left: 20px;
    font-weight: 900;
    padding-top: 30px;
    padding-right:6px;
    font-family: 'Avant Garde';
}

.emptyCartHeader {
    color: #F7941D;
    font-weight: bolder;
    font-size: 25px;
    font-family: 'Avant Garde';
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 50px;
}
