#authHeader {
    background-image: url("https://pryac.s3.us-west-1.amazonaws.com/performanceHeader.JPG");
    background-size: cover;
    background-position: 50% 10%;
    width: 100%;
    background-repeat: no-repeat;
    padding: 7% 0;
    text-align: center;
    padding: 2% 0;
    font-weight: bold;
    font-family: "Avant Garde";
}

#authLogo {
    width: 150px;
}

#welcomeBack {
    padding: 0.25%;
    color: #1f4c82;
    background: rgba(255, 255, 255, 0.74);
    font-size: 40px;
    margin: 20px 0;
    font-weight: bold;
}

#slogan {
    /* margin: 10px; */
    font-size: 30px;
    color: white;
    /* margin: 10px;
    font-size: 40px; */
    width: 100%;
    font-family: "Avant Garde";
    background: rgba(0, 0, 0, 0.5);
}

/* mobile */
@media (max-width: 480px) {
    #authLogo {
        width: 70px;
    }

    #welcomeBack {
        font-size: 28px;
        margin: 10px 0;
    }

    #slogan {
        font-size: 15px;
    }
}
