#faqPage {
    padding: 5% 10%;
    font-family: 'Avant Garde';
}

#faqTitle {
    color: #1F4C82;
    font-weight: bold;
    text-align: center;
    padding-bottom: 3%;
    font-family: 'Avant Garde';
}
.card-header {
    background-color: rgb(0,0,0, .08) !important;
}


.panel-title:after {
    content: 'v';
    float: right;
    color: #1F4C82;
    
}
/* .panel-title.collapsed:after { */
.panel-title[aria-expanded="true"]:after {
    content: "▲";
}




