#contactCardDate {
    margin-bottom: 0px !important;
    margin-left: 2%;
}
#contactCardTitle {
    font-weight: bold;
    /* margin-bottom: 0px !important; */
}

#contactCardRoleName,
#contactCardDonated,
#contactCardDesc {
    margin-left: 2%;
}

.datep {
    display: flex;
    padding: 0;
    margin: 0;
}
.dateul {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 15px !important;
    padding-right: 0px !important;
    margin-right: -200px;
}
.datediv {
    /* padding:0; */
}
