.volunteer {
    width: 70%;
    height: 205px;
    background: #FDE9D3;
    border: 16px solid #F7941D;
    border-radius: 24px;
    color: #F7941D;
    font-size: 2.5rem;
    padding-top: 0;
    margin: 2.5% 2%;
}

.volunteer:hover {
    background-color: #FDE9D3;
    color: #F7941D;
}

.visit {
    width: 70%;
    height: 205px;
    background: #CDEDEB;
    border: 16px solid #00A79D;
    border-radius: 24px;
    color: #00A79D;
    font-size: 40px;
    margin: 2.5% 2%;
}

.visit:hover {
    background-color: #CDEDEB;
    color: #00A79D;
}

.donate {
    width: 70%;
    height: 205px;
    background: #D8F0DB;
    border: 16px solid #39B54A;
    border-radius: 24px;
    color: #39B54A;
    font-size: 40px;
    margin: 2.5% 2%;
}

.donate:hover {
    background-color: #D8F0DB;
    color: #39B54A;
}