footer{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    background-color: #F2CD19;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    flex: 1 0 auto;
  }