#authDashboard {
    font-family: 'Avant Garde';
}

.middleSection {
    padding: 4%;
}

.pastOpp {
    margin-bottom: 2%;
}

#impactSection {
    margin-left: 40px;
}

#line {
    width: 600px;
}

#impact {
    text-align: center;
    font-weight: bold;
    color: #1F4C82;
    font-family: 'Avant Garde';
}

/* mobile */
@media screen and (max-width: 480px) {
    .middleSection {
        padding: 10%;
    }

    #impact {
        font-size: 15px;
    }

    #impactSection {
        margin-left: 0;
        margin-top: 10px;
    }

    #line {
        width: 300px;
    }
}

/*laptop and tablet*/
@media screen and (min-width: 1024px) and (max-width: 1600px) {
    #line {
        width: 400px;
    }
}