#directoryPage {
    padding: 5% 10%;
    font-family: 'Avant Garde';
}

#directory {
    text-align: center;
    font-weight: bold;
    color: #1F4C82;
    font-family: 'Avant Garde';
}

#directoryHeader {
    background-color: #1F4C82;
    color: white;
    padding: 0.5% 0;
    font-weight: bold;
    font-family: 'Avant Garde';
}

#directoryTable {
    padding: 2% 0;
}

#directoryLink {
    color: black;
}

#directoryLink:hover {
    color: rgb(173, 173, 173);
    text-decoration: none;
}