#search {
    padding: 2% 5% 1% 5%;
}

#search h4 {
    display: inline-block;
}


.exportButton{
    background: transparent;
    /* border: 3px solid #F7941D; */
    /* border: 3px solid #1F4C82; */
    color: black;
    border-radius: 14px;
    font-weight: bold;
    font-size: 12px;
    padding: 5px;
    font-family: 'Avant Garde';
}

.exportButton:hover {
    /* background: #F7941D; */
    border: 3px solid #F7941D;
    /* color: white; */
    color: black;
    cursor: pointer;
}

#search hr {
    margin-top: 0.1%;
    margin-left: 0;
    text-align: left;
}
.Volgrid {
    font-family: 'Avant Garde';

}

#search input {
    background: #F3F3F3;
    border-radius: 10px;
    border: none;
    margin-right: 1%;
    padding-left: 1%;
}

#search label {
    margin-right: 0.25%;
}

#search select {
    background: #F3F3F3;
    border: 0.25px solid #C1C1C1;
    border-radius: 5px;
    margin-right: 0.5%;
    height: 25px;
}

#search #button {
    text-align: right;
}

#opportunities {
    background-color: #F3F3F3;
    text-align: center;
}