#oppsHeader {
    background-image: url("https://pryac.s3.us-west-1.amazonaws.com/performanceHeader.JPG");
    background-size: cover;
    background-position: 50% 20%;
    width: 100%;
    background-repeat: no-repeat;
    padding: 7% 0;
}

#oppsTitle {
    text-align: center;
    background: rgba(255, 255, 255, 0.76);
    font-style: normal;
    font-weight: bold;
    text-align: center;
    color: #1F4C82;
    font-family: 'Avant Garde';
}